@inherits LayoutComponentBase
@inject NavigationManager NavManager

<div class="page">

    <main>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <!-- Left items -->
                <div class="d-flex">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                        <img src="@Assets["/img/logo.jpg"]"
                             height="50" alt="Logo"
                             class="logo"/></NavLink>
                </div>

                <!-- Right items -->
                <div class="d-flex ms-auto">
                    @if (IsOnFacilitatorHub)
                    {
                        <a class="nav-link nav-separator" href="/Dashboard" target="_blank">
                            Participant Dashboard <i class="fa-solid fa-chart-simple"></i>
                        </a>
                    }

                    <NavLink class="nav-link" href="/About">About <i class="fa-solid fa-circle-info"></i></NavLink>
                </div>
            </div>
        </nav>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {

    private bool IsOnFacilitatorHub =>
        NavManager.Uri.Contains("/FacilitatorHub", StringComparison.InvariantCultureIgnoreCase);

}