<div class="card">
    <h5 class="card-header d-flex align-items-center">
        <span>No Question</span>
    </h5>
    <div class="card-body">
        <h5 class="card-title">Please wait for the next question.</h5>
    </div>
    
    <div class="card-footer text-end">
        
    </div>
</div>

@code {

}