@using DevOpsQuickScan.Core

<strong>@_question!.Text</strong>
<ul>
    @foreach (var answer in _question.Answers)
    {
        <div>
            <label>@answer.Text (@SessionService.NumberOfAnswers(_question.Id, answer.Id))</label>
            <div style="background: lightblue; width:@(SessionService.NumberOfAnswers(_question.Id, answer.Id) * 20)px; height: 20px;"></div>
        </div>
    }
</ul>

@code {
    [Parameter] public required SessionService SessionService { get; set; }
    [Parameter] public required int QuestionId { get; set; }

    private Question? _question;

    protected override void OnInitialized() =>
        _question = SessionService.Questions.First(q => q.Id == QuestionId);
}