@using DevOpsQuickScan.Core

<strong>@RevealedQuestion!.Question</strong>
<ul>
    @foreach (var answer in RevealedQuestion.Answers)
    {
        <div>
            <label>@answer.Text (@RevealedQuestion.Answers.Sum(x => x.Count))</label>
            <div style="background: lightblue; width:@(answer.Count * 20)px; height: 20px;"></div>
        </div>
    }
</ul>

@code {
    [Parameter] public required RevealedQuestion RevealedQuestion { get; set; }
}