@page "/"
@using DevOpsQuickScan.Core
@using DevOpsQuickScan.BlazorApp.Components.Partials
@inject UserIdService UserId
@inject SessionService Session

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app, person with id @_userId.

@if (_currentQuestion != null)
{
    <QuestionComponent UserId="@_userId" 
                       SessionService="@Session" />
}
else
{
    <p>No question is currently being asked.</p>
}

@code {

    private string? _userId = null;

    private Question? _currentQuestion = null;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        _userId = await UserId.GetAsync();
        _currentQuestion = Session.CurrentQuestion;

        // if (Session.HasAnsweredCurrentQuestion(_userId!))
        // {
        //     selectedAnswer = Session.GetAnswer(_userId!);
        //     hasSubmitted = true;
        // }

        await InvokeAsync(StateHasChanged);
    }

    protected override void OnInitialized()
    {
        Session.OnQuestionChanged += (question) =>
        {
            _currentQuestion = question;
            InvokeAsync(StateHasChanged);
        };
    }
}
