@using DevOpsQuickScan.Domain
<div class="question-container">

       <!--// Question //-->
    <div class="question-card">
        <h3>@CurrentQuestion.Question.Text <a href="@CurrentQuestion.Question.Link" target="_blank"><i class="fa-solid fa-circle-info"></i></a></h3>
    </div>

    <!--// Answers //-->
    <div class="answers-list mt-4">
        <ul class="list-group">
            @foreach (var answer in CurrentQuestion.Question.Answers)
            {
                <li class="list-group-item">
                    @answer.Text
                </li>
            }
        </ul>
    </div>

</div>

@code {
    
    [Parameter] 
    public required QuestionWithAnswers CurrentQuestion { get; set; }
}