@page "/about"
<PageTitle>About</PageTitle>
<h1>About the DevOps Quickscan</h1>

This DevOps Quickscan is a tool designed to help organizations assess their DevOps maturity and identify areas for improvement. It provides a structured approach to evaluate various aspects of DevOps practices, including culture, automation, measurement, and sharing.o
<br />
This tool is meant to be used with teams, and it is recommended to have a facilitator to guide the discussion and ensure that all team members have a chance to contribute. Voting is anonymous, and the results are aggregated to provide a clear picture of the team's DevOps maturity.
