@page "/"
@using Microsoft.AspNetCore.Components.Endpoints
@rendermode @(new InteractiveServerRenderMode(prerender: false))
<PageTitle>Home</PageTitle>

<div class="quickscan-card">
    <div class="quickscan-card">
        <img src="@Assets["/img/logo.jpg"]" width="300" alt="DevOps Quickscan Logo" class="quickscan-logo"/>
        <h2 class="mb-4">Welcome to DevOps Quickscan</h2>
        <EditForm Model="this" OnValidSubmit="StartSession" FormName="sessionForm">
            <InputText class="form-control mb-3" @bind-Value="_sessionName"/>
            <button type="submit" class="btn btn-primary w-100">Start Session</button>
        </EditForm>
    </div>
</div>
