@page "/qrcodepage/{InviteLink}"
@rendermode @(new InteractiveServerRenderMode(prerender: false))
<div class="d-flex">
    <!-- Main Content -->
    <div class="flex-grow-1">
        <div class="quickscan-card quickscan-card-wide">

            <QRCode Data="@InviteLink" Size="700px"/>

        </div>

    </div>


</div>