@page "/vote/{SessionId:guid}/{DisplayName}"
@using DevOpsQuickScan.Web.Components.CustomComponents
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<div class="quickscan-card quickscan-card-wide">

    @if (!string.IsNullOrEmpty(_currentQuestion?.Question.Text))
    {
        <ParticipantQuestionComponent CurrentQuestion="_currentQuestion" />
    }
    else
    {
        <p class="text-muted">Waiting for the next question...</p>
    }
    
    
    
    @* <PieChart @ref="pieChart" Width="500" /> *@
    @* *@
    @* <div class="mt-5"> *@
    @*     <Button Type="ButtonType.Button" Color="ButtonColor.Primary" Size="ButtonSize.Small" @onclick="async () => await RandomizeAsync()"> Randomize </Button> *@
    @*     <Button Type="ButtonType.Button" Color="ButtonColor.Primary" Size="ButtonSize.Small" @onclick="async () => await AddDatasetAsync()"> Add Dataset </Button> *@
    @*     <Button Type="ButtonType.Button" Color="ButtonColor.Primary" Size="ButtonSize.Small" @onclick="async () => await AddDataAsync()">Add Data</Button> *@
    @* </div> *@
</div>
