@page "/vote/{SessionId}/{UserName}"
@rendermode InteractiveServer

<div class="quickscan-card quickscan-card-wide">
    <p>Voting session name: <strong>@_sessionName</strong></p>

    @if (!string.IsNullOrEmpty(_currentQuestion?.Text))
    {
        <div class="question-container">
            <p class="question-text">@_currentQuestion.Text</p>

            <div class="answers-container mt-3">
                @foreach (var answer in _currentQuestion.Answers)
                {
                    <button class="btn btn-outline-primary w-100 mb-2"
                            @onclick="() => SelectAnswer(answer.Id)">
                        @answer.Text
                    </button>
                }
            </div>

            <div class="vote-controls mt-4">
                <button class="btn btn-primary w-100" @onclick="SubmitVote" disabled="@(!_isAnswerSelected)">
                    Vote
                </button>
            </div>
        </div>
    }
    else
    {
        <p class="text-muted">Waiting for the next question...</p>
    }
</div>